{% extends 'base.html' %}
{% block head %}
<style>
    #images{
        display:flex;
        flex-direction:row;
    }

    #image{

        overflow:hidden;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .container{
        max-width: 1520px;
    }
    body {
        min-height: 75rem;
    }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    }

    #description {
        overflow:hidden;
        text-overflow: ellipsis;
        height:80px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form class="form-signin"  action="/addItem" method="POST" enctype="multipart/form-data">

                        <div class="form-label-group">
                         <label for="firstName">Name</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" required>
                        </div>
                        <div class="form-label-group">
                            <label for="price">Price</label>
                            <input type="text" id="price" name="price" class="form-control" placeholder="price" required>

                        </div>
                        <div class="form-label-group">
                            <label for="descripcion">Descripcion</label>
                            <input type="text" id="description" name="description" class="form-control" placeholder="description" required>

                        </div>
                        <div class="form-label-group">
                            <label for="sock">Stock</label>
                            <input type="text" id="stock" name="stock" class="form-control" placeholder="stock" required>
                        </div>
                        <div class="form-label-group">
                             <label class="form-label" for="customFile">Default file input example</label>
                            <input type="file" class="form-control" id="image" />
                        </div>
                        <div class="form-label-group">
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                {% for row in categories %}
                                    <option value="{{row[0]}}">{{row[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                      <br>
                        <button class="btn btn-lg btn-danger btn-block" type="submit">Enviar</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}

