{% extends 'base.html' %}
{% block head %}
<style>
    #images{
        display:flex;
        flex-direction:row;
    }

    #image{
        width:380px;
        height:280px;
        overflow:hidden;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .container{
        max-width: 1520px;
    }
    body {
        min-height: 75rem;
    }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    @media (min-width: 576px) {
        .jumbotron {
            padding: 1rem 2rem;
        }
    }
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    }
    .myelements{
        background-color: #f5f5f5d4;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron bg-light">
            <form class="form-signin" action="/savePuja" method="POST">
                <h3 class="lead">A continuacion elementos propuestos para intercambio</h3>
                <div class="row">
                    <div class="col-md-5">
                        <a class="btn btn-outline-danger" href="/" role="button">cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if existItem %}
    <div class="album py-5 bg-light">
        <div class="container">
            {% for i in range(itemData|length) %}
                <div class="row">
                    <div class="col-md-8">
                        <p><b>{{itemData[i].usuario_pujador_nombre}}</b> te esta pidiendo el intercambio de:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" >
                            <div id="images">
                                    <div id="image">
                                        <img src="{{url_for('static', filename='uploads/' + itemData[i].elemento_puja_propiedades.imagen_url) }}"  style="width: 100%;" id="itemImage"/>
                                    </div>
                                </div>
                            <div class="card-body">
                                <h4 class="card-text text-danger">{{itemData[i].elemento_puja_propiedades.nombre}}</h4>
                                <h6 class="card-text text-muted">{{itemData[i].elemento_puja_propiedades.descripcion}}</h6>
                                <h6 class="card-text text-muted">× {{itemData[i].elemento_puja_propiedades[4]}}</h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-dark" disabled>Elemento que se te oferta</button>
                                    <p class="text-danger" style="font-size:150%">cop {{itemData[i].elemento_puja_propiedades.precio_estimado}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" >
                            <div id="images">
                                    <div id="image">
                                        <img src="{{url_for('static', filename='uploads/' + itemData[i].elemento_oferta_propiedades.imagen_url) }}"  style="width: 100%;" id="itemImage"/>
                                    </div>
                                </div>
                            <div class="card-body">
                                <h4 class="card-text text-danger">{{itemData[i].elemento_oferta_propiedades.nombre}}</h4>
                                <h6 class="card-text text-muted">{{itemData[i].elemento_oferta_propiedades.descripcion}}</h6>
                                <h6 class="card-text text-muted">× {{itemData[i].elemento_oferta_propiedades[4]}}</h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-dark" disabled>Tu elemento a intercambiar</button>
                                    <p class="text-danger" style="font-size:150%">cop {{itemData[i].elemento_oferta_propiedades.precio_estimado}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-danger"><i class="bi bi-shuffle"></i> Aceptar trueque</button>
{#                        <p>{{itemData[i].usuario_pujador_nombre}} te esta pidiendo el intercambio de:</p>#}
                    </div>
                </div>
            {% endfor %}

{#            <div class="row">#}
{#                {% for data in products %}#}
{#                <div class="col-md-3">#}
{#                    <div class="card mb-4 shadow-sm" style="opacity: 0.5;">#}
{#                        <div id="images">#}
{#                                <div id="image">#}
{#                                    <img src="{{url_for('static', filename='uploads/' + data.imagen_url) }}"  style="width: 100%;" id="itemImage"/>#}
{#                                </div>#}
{#                            </div>#}
{#                        <div class="card-body">#}
{#                            <h4 class="card-text text-danger">{{data.nombre}}</h4>#}
{#                            <h6 class="card-text text-muted">{{data.descripcion}}</h6>#}
{#                            <h6 class="card-text text-muted">× {{data[4]}}</h6>#}
{#                            <div class="d-flex justify-content-between align-items-center">#}
{#                                <p> </p>#}
{#                                <p class="text-danger" style="font-size:150%">cop {{data.precio_estimado}}</p>#}
{#                            </div>#}
{#                            <div class="d-flex justify-content-between align-items-center">#}
{#                                <button type="button" class="btn btn-outline-secondary" disabled>Elemento a pujar</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                {% endfor %}#}
{#                <div class="col-md-9 myelements">#}
{#                    <div class="row">#}
{#                        {% for data2 in misElementos %}#}
{#                        <div class="col-md-3">#}
{#                            <form class="form-signin" action="/savePuja" method="POST">#}
{#                                <input id="elemento_puja" name="elemento_puja" type="hidden" value="{{data2.id}}">#}
{#                                <input id="elemento_oferta" name="elemento_oferta" type="hidden" value="{{products[0].id}}">#}
{#                                <input id="usuario_ofertador" name="usuario_ofertador" type="hidden" value="{{products[0].trocador}}">#}
{#                                <div class="card mb-4 shadow-sm">#}
{#                                    <div id="images">#}
{#                                            <div id="image">#}
{#                                                <img src="{{url_for('static', filename='uploads/' + data2.imagen_url) }}"  style="width: 100%;" id="itemImage"/>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    <div class="card-body">#}
{#                                        <h4 class="card-text text-danger">{{data2.nombre}}</h4>#}
{#                                        <h6 class="card-text text-muted">{{data2.descripcion}}</h6>#}
{#                                        <h6 class="card-text text-muted">× {{data[4]}}</h6>#}
{#                                        <div class="d-flex justify-content-between align-items-center">#}
{#                                            <p> </p>#}
{#                                            <p class="text-danger" style="font-size:150%">cop {{data2.precio_estimado}}</p>#}
{#                                        </div>#}
{#                                        <div class="d-flex justify-content-between align-items-center">#}
{#                                        <button type="submit" class="btn btn-danger" >#}
{#                                            <i class="bi bi-shuffle"></i> Intercambiar#}
{#                                        </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{##}
{##}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}

        </div>
    </div>

    {% else %}

    {% endif %}
<div class="modal fade" id="narratModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Realizar puja</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <p>Esta seguro que desea confirmar la puja del elemento ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>